* {
	margin: 0px;
	padding: 0px;
}
body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

header {
	text-decoration: none;
	display: flex;
	background: #08004d;
	font-variant: small-caps;
	font-family: Arial, Helvetica, sans-serif;
	justify-content: flex-start;
	width: 100%;
}

main {
	height: 92vh;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

img {
	width: 10em;
	height: 100%;
}

ul {
	list-style: none;
	display: flex;
	justify-content: space-evenly;
	font-size: medium;
}

form * {
	margin-bottom: 2%;
}
form input {
	height: 2vh;
	width: 100%;
}
form button {
	padding: 1%;
}

.nav li a {
	background-color: #08004d;
	color: #fff;
	width: 125px;
	text-decoration: none;
	padding: 4px 6px;
	display: block;
}

.ancla {
	padding: 0px 50px;
	width: 125px;
	font-size: medium;
}

.nav li a:hover {
	background-color: #434343;
}

.nav li ul {
	display: none;
	position: absolute;
	min-width: 140px;
}
.nav li:hover > ul {
	display: block;
}

.nav li ul li {
	position: relative;
}
#logOutDiv {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 100%;
}
#logOutDiv h3 {
	color: #fff;
}

#headerUserInfo {
	width: 100%;
}
#saldoContainer h2 {
	text-align: center;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    display: grid;
    align-items: center;
	margin-top: 10px;
}

footer ul {
    list-style: none;
    display: flex;
    padding-left: 0;
}

.header-inicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    height: auto;
}

.button-hb button {
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
